<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link th:href="@{public/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script></head>
<style>
body{
	background-image: url("public/images/login_background.jpg");
}
#login-box{
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	color: whitesmoke;
	margin-top: 30px;
}
#submit_button{
	margin-top: 20px;
}
.login-form .form-group{
	margin-top: 10px;
}
.login-form input{
	margin-top: 5px;
}
a{
	text-decoration: none;
}
#forget_password_link{
	padding-top: 15px;
}

</style>
<body onload="validateForm()">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-0"></div>
			<div id="login-box" class="col-md-6 col-sm-12" style="background-color: #dfe2e3; padding: 50px;">
				<h2 class="text-center">
					<i class="fa fa-bug"></i> Bug Tracker Login
				</h2>
				<br>
				<!-- STATUS START-->
				<div id="status_success" th:if="${status_success}" th:text="${status_success}" class="alert alert-success"></div>
				<div id="status_failure" th:if="${status_failure}" th:text="${status_failure}" class="alert alert-danger"></div>
				<!--STATUS END-->
				<!-- USER LOGIN FORM  -->
				<form oninput="validateForm()" class="login-form" method="POST" th:action="@{'/login'}">

					<!-- Email input -->
					<div class="form-group">
						<label for="email">Enter Email Id</label> <input type="email" class="form-control" name="email"
							id="email" th:value="${email}" placeholder="Enter Email">
					</div>

					<!-- Password input -->
					<div class="form-group">
						<label for="password">Password</label> <input type="password" minlength="4" maxlength="16" class="form-control"
							name="password" id="password" th:value="${password}" placeholder="Enter Password">
					</div>

					<button type="submit" id="submit_button" class="btn btn-warning" disabled><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
				</form>
				<br>
				<!-- GOTO REGISTER PAGE -->
				<div id="register_link">
					<a class="text-white" th:href="@{/register}"><i class="fa fa-user-plus" aria-hidden="true"></i> New user? Register here.</a>
				</div>
				<div id="forget_password_link">
					<a class="text-white" th:href="@{/reset-password}"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Forget password ?</a>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-0"></div>
	</div>

</body>


<script th:inline="javascript">

	$(document).ready(
		setTimeout(()=>{
			$('#status_success').hide()
			$('#status_failure').hide()
		}, 4000)
	)

	let validateForm = ()=>{
		let email = $('#email').val();
		let password = $('#password').val();
		if((email.length > 0) && (password.length >=4)){
			$('#submit_button').removeAttr('disabled');
		} else {
			$('#submit_button').attr('disabled', true);
		}
	}

</script>

</html>